.root{
    /* border-radius: 6px; */
    width: 50%;
    border-top: 1px solid hsl(240 5% 84%);
    border-bottom: 1px solid hsl(240 5% 84%);
    color: hsl(240 4% 16%);
    margin:auto;
}

.item:not(:last-child){
    border-bottom: 1px solid hsl(240 5% 84%);
}

.header{
    display: flex;
}

.trigger{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 14px;
    font-weight: 600;
    text-align: left;
    outline: none;
}

trigger:focus-visible{
    z-index: 1;
    outline: 2px solid hsl(200 98% 39%);
}

.trigger-icon{
    width: 24px;
    height: 24px;
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.trigger[data-expanded] > .trigger-icon{
    transform: rotate(180deg);
}

.item-content{
    overflow: hidden;
    font-size: 16px;
    /* animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1); */
    animation: slideUp 200ms linear;
}

.item-content[data-expanded]{
    /* animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1); */
    animation: slideDown 200ms linear;
}

.accordion__item-content-text {
    padding: 16px;
}
@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--kb-accordion-content-height);
    }
}
@keyframes slideUp {
    from {
        height: var(--kb-accordion-content-height);
    }
    to {
        height: 0;
    }
}